@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Tondu";
  src: url("../fonts/Tondu-Beta.ttf");
}

@font-face {
  font-family: "SourcePro";
  src: url("../fonts//SourceSansPro-Regular.ttf");
}
@font-face {
  font-family: "SourcePro";
  src: url("../fonts/SourceSansPro-Bold.ttf");
  font-weight: bold;
}

html {
  color: #253764;
}

p, span {
  font-family: 'SourcePro', 'sans';
}

h1, h2, h3, h4 {
  font-family: 'Tondu', serif;
  letter-spacing: 0.05em;
  color: #253764;
}

h1 {
  font-size: 4.5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}

ul {
  list-style: unset;
  padding: 0 0 0 1rem;
  margin: 0;
}

a {
  text-decoration: underline;
}

.opaque-border-yellow {
  border-color: #F5EA2E;
  border-width: 20px;
}

.hyphens-auto {
  hyphens: auto;
}

.media-container {
  position: relative;
  padding-bottom: 56.25%;
}

.media-container iframe {
  position: absolute;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.custom-select {
  appearance: none;
  background-image:url("../images/dropdown-arrow.svg");
  background-repeat: no-repeat;
  background-position: 98% 50%;
}

@layer utilities {
  @variants responsive {
    .masonry {
      column-count: 4;
      column-gap: 1.5em;
    }
    .break-inside {
      break-inside: avoid;
    }
  }
}